header {
  background-color: #4c2676;
  color: white;
  text-align: left;
}

.column-half {
  display: flex;
  flex-direction: column;
}

.column-full {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  margin: top 10px;
  margin-bottom: 10px;
  height: 9rem;
}

.save-button {
  background-color: #4c2676;
  color: white;
  border: none;
  border-radius: 5%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#title {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2rem;
}

#photo {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2rem;
}

#notes {
  margin-bottom: 20px;
  margin-top: 20px;
}

.show-entries {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.entries-row {
  justify-content: space-between;
  align-items: center;
}

.button-two {
  background-color: #562b81;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 12px;
}

ul {
  padding: 0;
}

.flex-container {
  display: flex;
  align-items: center;
}

.delete-entry-button {
  background-color: white;
  border: none;
  color: red;
  border-bottom: 0.5px solid red;
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 350px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  justify-content: center;
  height: 120px;
  text-align: center;
}

.confirm-button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5%;
}

.cancel-button {
  background-color: #b6b6b6;
  color: black;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper i {
  margin-left: 10px;
}
